.ship-list {
  display: flex;
  width: 400px;
  height: 225px;
}
.submarine-container {
  display: flex;
  flex-direction: column;
  width: 66px;
}
.battleship-container {
  display: flex;
  flex-direction: column;
  width: 99px;
}
.ship-container {
  margin:0 4px 0 4px;
}
.ship  {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  margin-bottom: 4px;
}
.ship div {
  display: flex;
  width: 33px;
  height: 33px;
}
.destroyer {
  background-color: #3566e0;
  border-color: #3566e0;
}
.submarine {
  background-color: #1d42a1;
  border-color: #1d42a1;
}

.battleship {
  background-color: #0b2668;
  border-color: #0b2668;
}
.carrier {
  background-color: #01133f;
  border-color: #01133f;
}
.ship.hide {
  display: none!important;
}
.ship.show {
  display: flex!important;
}