.computer-cells-container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.computer-cell {
  background-color: green;
  width: 38px;
  height: 38px;
  border: 1px solid #fff;
}

/* .computer-cell.taken {
  background-color: yellow;
} */