.user-cells-container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.user-cells-container .cell {
  background-color: red;
  width: 38px;
  height: 38px;
  border: 1px solid #fff;
}
